ion-grid {
    position: relative;
    top: 10%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10% 10% 10%;
}

.container-tag {
    text-align: center;
}
